---
layout: default
---

<!-- <div class="posts">
  {% for post in site.posts %}
    <article class="post">
      {{ post.date | date: "%B %Y" }}
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div> -->

<div class="posts">
  {% for post in site.posts %}
    {% assign currentdate = post.date | date: "%B %Y" %}
    {% if currentdate != date %}
      <h1 class="month-year">
        <span>
          {{ currentdate }}
        </span>
      </h1>
      {% assign date = currentdate %} 
    {% endif %}
    <h2 class="post-title">
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h2>
    <p class="post-categories">
      {% for c in post.categories %}
        <span>{{ c }}</span>{% if forloop.last == false %},{% endif %}
      {% endfor %}
    </p>
  {% endfor %}
</div>