---
layout: post
status: publish
published: true
title: Enviando Emails via STMP (Gmail) com Action Mailer do Rails - Formul&aacute;rio
  de Contato e Model sem Tabela
author:
  display_name: Glauco Custodio
date: '2012-11-06 20:00:33 -0200'
date_gmt: '2012-11-06 20:00:33 -0200'
categories:
- Ruby
tags:
- ruby on rails
comments:
- id: 928
  author: Reynaldo Barros
  author_email: contato@trevobr.com
  author_url: http://www.trevobr.com
  date: '2013-07-20 16:18:34 -0300'
  date_gmt: '2013-07-20 16:18:34 -0300'
  content: Muito bom Glauco! Estamos organizando grupo de estudos em todas as &aacute;reas
    que envolvem a concep&ccedil;&atilde;o de um projeto web. Sinta-se a vontade para
    participar. Sua contribui&ccedil;&atilde;o ser&aacute; muito bem vinda! visite
    www.facebook.com&#47;trevodesenvolvimentoweb.
- id: 1038
  author: Renan
  author_email: ror.renan@gmail.com
  author_url: ''
  date: '2013-07-31 19:50:02 -0300'
  date_gmt: '2013-07-31 19:50:02 -0300'
  content: Vlw Glauco, me ajudou muito :)
- id: 1303
  author: Rafael
  author_email: designpontes@gmail.com
  author_url: ''
  date: '2013-10-03 03:18:50 -0300'
  date_gmt: '2013-10-03 03:18:50 -0300'
  content: Era exatamente o que eu precisava....  valeu fera!!!!!
- id: 1418
  author: Fl&aacute;vio
  author_email: xpioker@gmail.com
  author_url: ''
  date: '2013-10-29 04:51:32 -0200'
  date_gmt: '2013-10-29 04:51:32 -0200'
  content: "Ol&aacute; Glauco, parab&eacute;ns pelos posts! Na verdade estou procurando
    um c&oacute;digo html de um form de contato simples ( Nome &#47; email &#47; assunto
    &#47; mensagem ) mas com duas condi&ccedil;&otilde;es; \r\n- Que fosse enviado
    pelo email que o usu&aacute;rio&#47;cliente preencheu.\r\n- E para 02 (dois) emails
    \"destinat&aacute;rios\".\r\nSou pouco leigo e n&atilde;o sei se isso &eacute;
    poss&iacute;vel?\r\n\r\nAtenciosamente\r\nFl&aacute;vio"
- id: 1427
  author: high low hem dresses plus size
  author_email: ebmcndm@gmail.com
  author_url: http://finance.wytv.com/inergize.wytv/news/read/25421154/
  date: '2013-11-02 07:39:46 -0200'
  date_gmt: '2013-11-02 07:39:46 -0200'
  content: My husband and i were quite ecstatic that Chris could complete his homework
    by way with the tips he gained when utilizing the web site. It is now and again
    perplexing to just uncover yourself handing out thoughts other people may well
    have been trying to sell. We actually realize we have got the website owner to
    be grateful to because of that. The main explanations you&rsquo;ve made, the easy
    website menu, the friendships you are going to aid to instill &ndash; it is most
    exceptional, and it is truly facilitating our son in addition to the family do
    believe this topic is amusing, and that is unbelievably critical. Many thanks
    for all of the pieces!
- id: 2116
  author: Felipe Lozano
  author_email: felipeinformacao@gmail.com
  author_url: ''
  date: '2014-04-24 19:16:45 -0300'
  date_gmt: '2014-04-24 19:16:45 -0300'
  content: Tem muita mudan&ccedil;a com Rails 3 para Rails4 enviar emails via SMTP
    (Gmail) ?
- id: 2186
  author: Cristiano Alencar
  author_email: cristiano.souza.mendonca@gmail.com
  author_url: http://www.6softwares.com.br
  date: '2014-05-01 22:59:24 -0300'
  date_gmt: '2014-05-01 22:59:24 -0300'
  content: "Excelente post, Glauco!\r\n\r\nInfelizmente, pelo fato de n&atilde;o termos
    muitos tutoriais em Ruby on Rails em portugu&ecirc;s, passei a tarde inteira procurando
    por solu&ccedil;&otilde;es em blogs estrangeiros.\r\n\r\nNo entanto, foi apenas
    com seu post que fui capaz de criar minha p&aacute;gina de contatos.\r\n\r\nMuito
    obrigado!"
- id: 2187
  author: Cristiano Alencar
  author_email: cristiano.souza.mendonca@gmail.com
  author_url: http://www.6softwares.com.br
  date: '2014-05-01 23:06:17 -0300'
  date_gmt: '2014-05-01 23:06:17 -0300'
  content: "Uma sugest&atilde;o: com o ActiveAttr seu model ficaria muito mais 'clean'.\r\n\r\nfonte:
    http:&#47;&#47;railscasts.com&#47;episodes&#47;326-activeattr\r\n\r\nAbra&ccedil;os
    e sucessos!"
- id: 2203
  author: fgdg
  author_email: wuisquizito@gmail.com
  author_url: http://gfdg
  date: '2014-05-04 07:28:05 -0300'
  date_gmt: '2014-05-04 07:28:05 -0300'
  content: gfdsg
- id: 2903
  author: aristoteles
  author_email: aristotelesbr2014@gmail.com
  author_url: ''
  date: '2014-08-10 20:43:36 -0300'
  date_gmt: '2014-08-10 20:43:36 -0300'
  content: Opa, era justamente o que eu estava precisando! Me ajudou bastante! Obrigado!
- id: 31027
  author: Ramon
  author_email: ramon.souza1988@gmail.com
  author_url: ''
  date: '2015-05-20 02:01:01 -0300'
  date_gmt: '2015-05-20 02:01:01 -0300'
  content: "Ol&aacute;, fiz o procedimento mas o email n&atilde;o foi enviado.\r\n\r\nAdicionei
    a config smtp no arquivo application.rb abaixo da linha;\r\nmodule MeuProjeto\r\n
    \ class Application  \"smtp.gmail.com\",\r\n      :port                 => 587,\r\n
    \     :domain               => 'gmail.com',\r\n      :user_name            =>
    'meu_email', (sem @gmail.com)\r\n      :password             => 'minhasenha',\r\n
    \     :authentication       => 'plain',\r\n      :enable_starttls_auto => true
    \r\n    }\r\n    # Para debug apenas, &eacute; melhor que a linha abaixo seja
    adicionado apenas no ambiente de desenvolvimento\r\n    config.action_mailer.raise_delivery_errors
    = true\r\n\r\n\r\nFiz algo errado? obrigado pela ajuda!"
---

<p>Fala galera, beleza? Hoje venho mostrar como enviar emails via SMTP (Gmail) com Ruby on Rails (3.2.8) através do Action Mailer e para isso estarei criando um formulário de contato com model (para desfrutarmos das validações e outros recursos) sem tabela (tableless model) como exemplo.</p>

<h2>Gerando o Formulário com Scaffold</h2>

<p>Formulários de contato são constituídos por campos que quando preenchidos são enviados para uma url e executam algo certo? </p>

<p>Então para agilizar irei gerar um scaffold com os dados que preciso e depois removerei os códigos desnecessários.</p>

{% highlight bash %}
rails g scaffold Contact name:string email:string subject:string message:text
{% endhighlight %}

<h2>Model sem Tabela (tableless model)</h2>

<p>Olhe para o model <code>Contact</code> que acabamos de criar e ele deve estar como abaixo:</p>

{% highlight ruby %}
class Contact < ActiveRecord::Base
  attr_accessible :email, :message, :name, :subject
end
{% endhighlight %}

<p>Observe que ele herda da classe <code>ActiveRecord</code>, mas como não iremos usar tabela, vamos fazer algumas mudanças..</p>
<ol>
  <li>Primeiro vamos retirar a herança do <code>ActiveRecord</code> pois não usaremos nenhum recurso de banco de dados</li>
  <li>Vamos incluir e extender algumas classes necessárias</li>
  <li>Criar dois métodos necessários para a utilização do model sem tabela</li>
  <li>Definir métodos acessores</li>
</ol>

<p>Feito as mudanças, nosso model deve se parecer com esse:</p>

{% highlight ruby %}
class Contact
  include ActiveModel::Validations
  include ActiveModel::Conversion
  extend ActiveModel::Naming

  attr_accessor :name, :subject, :message, :email

  def initialize(attributes = {})
    attributes.each do |name, value|
      send("#{name}=", value)
    end
  end

  def persisted?
    false
  end
end
{% endhighlight %}

<h2>Removendo o Desnecessário</h2>

<p>Como não iremos precisar das funcionalidades de atualização (edição), visualização, listagem e exclusão vamos remover elas. Exclua as views <code>index</code>, <code>edit</code> e <code>show</code> da pasta <code>views/contacts</code>, remova as respectivas actions do <code>contacts_controller.rb</code> e mais algumas coisas que não serão necessárias. Nosso controller fica assim por enquanto:</p>

{% highlight ruby %}
class ContactsController < ApplicationController
  def new
    @contact = Contact.new
  end

  def create
    @contact = Contact.new(params[:contact])

    if @contact.valid?
      redirect_to :action => 'new'
      return
    end

    render :action => 'new'
  end
end
{% endhighlight %}

<p>Repare que uma das alterações que fizemos foi trocar o <code>.save</code> para <code>.valid?</code> da action <code>create</code>, isso serve para validar com o model antes de enviarmos o email com dados do contato.</p>

<h2>Criando um Mailer</h2>

<p>Vamos criar um mailer que será reponsável por determinar o template e alterar algumas opções. Execute o comando abaixo no terminal na pasta do projeto:</p>

{% highlight bash %}
rails generate mailer ContactMailer
{% endhighlight %}

<p>Dentro da pasta <code>app/mailers</code> foi criado um arquivo chamado <code>contact_mailer.rb</code>, usaremos ele para definir algumas opções do envio.</p>

<p>Vamos criar um método chamado <code>contact_message</code> que enviará as mensagens de contato:</p>

{% highlight ruby %}
class ContactMailer < ActionMailer::Base
  default :from => 'email_remetente@gmail.com'

  def contact_message(contact)
    @contact = contact
    mail(:to => 'destinatario@provedor.com', :subject => 'Mensagem de Contato')
  end
end
{% endhighlight %}

<p>Aqui definimos o remetente, destinatário e assunto da mensagem além de passarmos os dados de contato para a view.</p>

<h2>Criando as Views do Mailer</h2>

<p>Crie um arquivo chamado <code>contact_message.html.erb</code> e outro <code>contact_message.text.erb</code> em <code>app/views/contact_mailer/</code> para termos as views HTML e texto respectivamente para nosso mailer, esses arquivos conterão a mensagem propriamente. Minha view HTML ficou assim:</p>

{% highlight erb %}
<h1>Mensagem de contato</h1>
<h2>Data de envio: <%= Time.now.strftime("%d/%m/%Y %H:%M") %></h2>

<p><strong>Visitante: </strong><%= @contact['name'] %></p>

<p><strong>Email: </strong><%= @contact['email'] %></p>

<% if @contact['subject'].present? %>
  <p><strong>Assunto: </strong><%= @contact['subject'] %></p>
<% end %>

<p><strong>Mensagem:</strong></p>
<p><%= @contact['message'] %></p>
{% endhighlight %}

<div class="note">Assim como em views normais você pode usar variáveis de instâncias que estiverem definidas no método da classe mailer.</div>

<h2>Definindo Configurações SMTP</h2>

<p>Para enviarmos as mensagens via SMTP, precisamos informar os dados que serão utilizados, para isso abra o arquivo de configuração da aplicação (<code>application.rb</code>) e defina as configurações do Gmail como abaixo (preenchendo com os dados do remetente):</p>

{% highlight ruby %}
config.action_mailer.delivery_method = :smtp
config.action_mailer.smtp_settings = {
  :address              => "smtp.gmail.com",
  :port                 => 587,
  :domain               => 'gmail.com',
  :user_name            => 'usuario_remetente',
  :password             => 'senha123',
  :authentication       => 'plain',
  :enable_starttls_auto => true
}
# Para debug apenas, é melhor que a linha abaixo seja adicionado apenas no ambiente de desenvolvimento
config.action_mailer.raise_delivery_errors = true
{% endhighlight %}

<div class="note">Se você quiser pode adicionar uma configuração de SMTP para cada ambiente, basta adicionar nos arquivos respectivos dentro da pasta <code>config/environmentes</code>, no caso acima defino uma para todos.</div>

<h2>Enviando Emails</h2>
<p>Agora só precisamos adicionar a chamada do método responsável por enviar emails (linha 10) em nosso controller, veja como fica:</p>

{% highlight ruby linenos %}
class ContactsController < ApplicationController
  def new
    @contact = Contact.new
  end

  def create
    @contact = Contact.new(params[:contact])

    if @contact.valid?
      ContactMailer.contact_message(params[:contact]).deliver
      flash[:notice] = 'Mensagem enviado com sucesso'
      redirect_to :action => 'new'
      return
    end

    render :action => 'mew'
  end
end
{% endhighlight %}

<p>O envio já está funcionando, faça um teste!</p>

<h2>Adicionando Validações</h2>

<p>Vamos adicionar algumas validações no formulário, para isso abro o model <code>Contact</code> e adiciono algumas linhas, ficando como abaixo:</p>

{% highlight ruby %}
class Contact
  include ActiveModel::Validations
  include ActiveModel::Conversion
  extend ActiveModel::Naming

  attr_accessor :name, :subject, :message, :email

  validates :name,
            :length => {:in => 2..50}

  validates :email,
            :format => { :with => /^([^@\s]+)@((?:[-a-z0-9]+\.)+[a-z]{2,})$/i }

  validates :message,
            :length => {:in => 10..750}

  def initialize(attributes = {})
    attributes.each do |name, value|
      send("#{name}=", value)
    end
  end

  def persisted?
    false
  end
end
{% endhighlight %}

<p>Agora se alguém tentar submeter o formulário vazio não conseguirá..</p>

<a href="{{ site.baseurl }}/assets/submetendo-formulário-de-contato.png"><img class="alignnone size-full wp-image-701" title="submetendo-formulário-de-contato" src="{{ site.baseurl }}/assets/submetendo-formulário-de-contato.png"/></a>

<p>Pronto, temos nosso formulário de contato com validação e envio de emails por SMTP funcionando.</p>

<p>Por hoje é só pessoal, o que vocês acharam?</p>

<p>Até mais.</p>