---
layout: post
status: publish
published: true
title: Adicionar Arquivos a Serem Compilados no Asset Pipeline
author:
  display_name: Glauco Custodio
date: '2012-12-18 23:51:37 -0200'
date_gmt: '2012-12-18 23:51:37 -0200'
categories:
- Ruby
tags:
- asset pipeline
comments: []
---
<p>Hoje estou aqui para dar uma dica rápida sobre Asset Pipeline do Ruby on Rails 3.1+ que pode ser útil.</p>

<p>Acabei agora de pouco de fazer o deploy da minha primeira aplicação Rails na <a title="https://openshift.redhat.com/" href="https://openshift.redhat.com/" rel="external nofollow" target="_blank">OpenShift</a> (que recomendo) e enquanto estava nesse processo uma das coisas que aprendi, é que por padrão, quando executamos o comando <code>rake assets:precompile</code>, só são compilados os arquivos <code>application.js</code> e <code>application.css</code>.</p>

<p>Minha aplicação possui dois layouts, o <code>application</code> que é o padrão usado no site e o <code>admin</code> que é usado apenas na área administrativa, dentro deles tenho respectivamente as seguintes chamadas:</p>

{% highlight erb %}
<%= stylesheet_link_tag "application", :media => "all" %>
<%= javascript_include_tag "application" %>
{% endhighlight %}

{% highlight erb %}
<%= stylesheet_link_tag "admin", :media => "all" %>
<%= javascript_include_tag "admin" %>
{% endhighlight %}

<p>No arquivo <code>application</code> (duas primeiras linhas) tenho a chamada para os assets do site e no <code>admin</code> (duas últimas) chamo os assets da área restrita.</p>

Para fazer deploy, compilei usando o comando <code>rake assets:precompile</code> como deve ser feito. Porém, ao acessar uma url administrativa do site recebi um erro, fui olhar no log e constatei que os arquivos <code>admin</code> não estavam sendo compilados, mas minha aplicação esperava eles.

<p>Pesquisando na internet e lendo a documentação oficial do Rails vi que precisaria especificar quais arquivos mais gostaria de compilar além do padrão e cheguei a resposta, basta adicionar a linha abaixo no <code>application.rb</code>:</p>

{% highlight ruby %}
config.assets.precompile += ['admin.js', 'admin.css']
{% endhighlight %}

<p>Simples assim.</p>

<p>Abraços!</p>
