---
layout: post
status: publish
published: true
title: Upload e Valida&ccedil;&atilde;o de Imagens e Arquivos com a gem Paperclip
  e Rails
author:
  display_name: Glauco Custódio
  login: glauco-custodio
  email: glauco.custodio@gmail.com
  url: http://glaucocustodio.com
author_login: glauco-custodio
author_email: glauco.custodio@gmail.com
author_url: http://glaucocustodio.com
excerpt: "Fala pessoal, beleza?\r\n\r\nHoje estou aqui para mostrar como fazer upload
  e valida&ccedil;&atilde;o de imagens e arquivos no <strong>Ruby on Rails<&#47;strong>
  (vers&atilde;o 3.2.8) com a gem <strong>Paperclip<&#47;strong>.\r\n\r\nIrei utilizar
  o projeto que criei no tutorial onde ensino <a title=\"Primeiro Projeto com Ruby
  on Rails\" href=\"http:&#47;&#47;blog.glaucocustodio.com&#47;2012&#47;10&#47;06&#47;primeiro-projeto-com-ruby-on-rails&#47;\"
  target=\"_blank\">como iniciar com Rails<&#47;a>, ele s&oacute; tem uma conex&atilde;o
  com o banco de dados MySQL e a rota raiz definida.\r\n\r\n"
wordpress_id: 620
wordpress_url: http://blog.glaucocustodio.com/?p=620
date: '2012-10-20 13:36:30 -0300'
date_gmt: '2012-10-20 13:36:30 -0300'
categories:
- Ruby
tags:
- ruby on rails
- paperclip
comments:
- id: 58
  author: macedo
  author_email: masedos@gmail.com
  author_url: ''
  date: '2012-10-22 22:56:08 -0200'
  date_gmt: '2012-10-22 22:56:08 -0200'
  content: "Glauco em sua opini&atilde;o....esta gem seria a melhor op&ccedil;&atilde;o
    para se efetuar um upload de um arquivo executavel e em seguida abrir este aquivo
    e retirar algumas informa&ccedil;&otilde;es dele.\r\nobrigado"
- id: 98
  author: best android cell phones
  author_email: miubfik@gmail.com
  author_url: http://www.sputnikmusic.com/profile.php?name=moatheight2
  date: '2012-11-17 09:31:59 -0200'
  date_gmt: '2012-11-17 09:31:59 -0200'
  content: My partner and I stumbled over here from a different website and thought
    I might as well check things out. I like what I see so now i
- id: 330
  author: Lucas
  author_email: lucas.ramosvieira@gmail.com
  author_url: ''
  date: '2013-01-25 00:10:28 -0200'
  date_gmt: '2013-01-25 00:10:28 -0200'
  content: "Kra, fiquei sem ententer, vc criou uma coluna chamada imagem que ao meu
    ver seria para armazenar o caminho de onde est&aacute; salva a imagem e depois
    eu terei que fazer uma migration s&oacute; para alterar o nome da coluna para
    image_file_name?\r\n\r\nEstou com rails 3.2.9 e paperclip 3.4.0? Ele d&aacute;
    um erro pedindo para adicionar attr_accessor :image_file_name......eu fiz ele
    parou de dar o erro, mas n&atilde;o salva o caminho da imagem...alguma ideia?"
- id: 335
  author: Luis Paulo
  author_email: blackheartlpo@hotmail.com
  author_url: ''
  date: '2013-01-28 20:27:29 -0200'
  date_gmt: '2013-01-28 20:27:29 -0200'
  content: queria saber como faz para alterar o nome do campo "image" para "image_file_name"
    no banco de dados
- id: 372
  author: Aislan
  author_email: aislan.sousamaia@gmail.com
  author_url: http://seumestredaweb.blogspot.com
  date: '2013-02-18 20:52:51 -0300'
  date_gmt: '2013-02-18 20:52:51 -0300'
  content: "Ol&aacute;, estou fazendo upload de imagens .svg com paperclip 3.4 e Rails
    3.2.11 e eu estava com um problema na hora de exibir a imagem (o paperclip n&atilde;o
    conseguia achar na pasta public a imagem que havia sido feito upload, resultando
    num caminho para uma imagem chamada \"missing.png\").\r\nObs: para imagens .svg
    na valida&ccedil;&atilde;o content_type, deve-se deixar assim: content_type: ['image&#47;svg+xml']\r\n\r\nEntretanto,
    olhando na p&aacute;gina do projeto Paperclip (https:&#47;&#47;github.com&#47;thoughtbot&#47;paperclip)
    verifiquei que aqui neste tutorial faltou estes passos:\r\n\r\n1&ordm; passo:
    rails generate paperclip user avatar\r\n2&ordm; passo: rake db:migrate\r\n3&ordm;
    passo: acrescentar no model que conter&aacute; a imagem os atributos :image_file_name,
    :image_content_type, :image_file_size, :image_updated_at para o m&eacute;todo
    attr_accessible .\r\n\r\nCom a migra&ccedil;&atilde;o, ent&atilde;o temos na tabela
    do banco de dados as colunas:  image_file_name, image_content_type, image_file_size,
    image_updated_at\r\n\r\nEspero que isto ajude algu&eacute;m que possa estar caindo
    em alguns erros com o Paperclip.\r\n\r\nAbra&ccedil;os,\r\n\r\nAislan de Sousa
    Maia."
- id: 31630
  author: j&atilde;o
  author_email: jao@hotmail.com
  author_url: ''
  date: '2015-05-28 02:49:47 -0300'
  date_gmt: '2015-05-28 02:49:47 -0300'
  content: tharhatha
- id: 31671
  author: Alcides Junior
  author_email: alcidesjunior.infor@gmail.com
  author_url: ''
  date: '2015-05-28 16:58:50 -0300'
  date_gmt: '2015-05-28 16:58:50 -0300'
  content: "Ol&aacute; Glauco! muito bom seu tutorial. Bem objetivo.\r\nAmigo, seguinte:
    como eu faria pra descartar a imagem original, porque o seguinte... se voc&ecirc;
    for inspecionar as pastas que o paperclip gera, l&aacute; estar&aacute; a imagem
    original.\r\nNo meu sistema, s&oacute; quero trabalhar com as que s&atilde;o redimensionadas.\r\nComo
    eu poderia fazer?"
---
<p>Fala pessoal, beleza?</p>

<p>Hoje estou aqui para mostrar como fazer upload e validação de imagens e arquivos no Ruby on Rails (versão 3.2.8) com a gem Paperclip.</p>

<p>Irei utilizar o projeto que criei no tutorial onde ensino <a title="Primeiro Projeto com Ruby on Rails" href="{% post_url 2012-10-06-primeiro-projeto-com-ruby-on-rails %}" target="_blank">como iniciar com Rails</a>, ele só tem uma conexão com o banco de dados MySQL e a rota raiz definida.</p>

<h2>Índice</h2>
<ul>
  <li><a href="#generating-CRUD">Gerando CRUD</a></li>
  <li><a href="#installing-paperclip-gem">Instalando e configurando a gem Paperclip</a></li>
  <li><a href="#using-paperclip">Usando a gem Paperclip</a></li>
  <li><a href="#setting-upload-path">Personalizando caminho de upload</a></li>
  <li>
          <a href="#adding-validations">Adicionando validações</a><ul>
      <li><a href="#required-presence">Presença obrigatória</a></li>
      <li><a href="#file-type">Tipo de arquivo</a></li>
      <li><a href="#file-size">Tamanho de arquivo</a></li>
      <li><a href="#image-dimensions">Dimensões de imagem</a></li>
          </ul>
        </li>
</ul>

<h2>Escopo</h2>

<p>Vamos supor que temos um cadastro de carros para fazer que deve conter os seguintes campos:</p>
<ul>
  <li>nome: string</li>
  <li>descrição: text</li>
  <li>imagem: string</li>
</ul>

<h2 id="generating-CRUD">Gerando um CRUD de registros</h2>

<p>Para começar vamos gerar as páginas responsáveis por fazer cadastro, edição, exclusão e exibição de nossos registros. Para isso, abra o terminal na pasta do projeto e digite o comando <code>rails g scaffold Car name:string description:text image:string</code> para gerar os arquivos e depois <code>rake db:migrate</code> para criar a tabela de carros:</p>

<a href="{{ site.baseurl }}/assets/criando-scaffold-com-gerador-rails.jpg"><img class="alignnone size-full wp-image-623" title="criando-scaffold-com-gerador-rails" src="{{ site.baseurl }}/assets/criando-scaffold-com-gerador-rails.jpg" alt="criando-scaffold-com-gerador-rails"/></a>

<p>Se iniciarmos o servidor (<code>rails s</code>) e acessarmos o projeto na url <code>http://0.0.0.0:3000/cars</code> teremos a tela onde podemos manipular nossos registros.</p>

<a href="{{ site.baseurl }}/assets/controle-de-registros-gerado-com-rails.jpg"><img class="alignnone size-full wp-image-624" title="controle-de-registros-gerado-com-rails" src="{{ site.baseurl }}/assets/controle-de-registros-gerado-com-rails.jpg" alt="controle-de-registros-gerado-com-rails"/></a>

<h2 id="installing-paperclip-gem">Instalando e configurando a gem Paperclip</h2>

<p>Agora que temos nosso CRUD funcionando vamos implantar o upload da imagem dos carros.</p>

<p>Vamos dizer ao Rails para usar a gem Paperclip, abra o arquivo <code>Gemfile</code> na pasta do projeto e adicione <code>gem "paperclip", "~> 3.0"</code>. Feito isso, rode o comando <code>bundle install</code> no terminal para obtermos a gem e suas dependências.</p>

<p>O Paperclip usa a biblioteca <code>ImageMagick</code> para manipular imagens, devemos garantir que ela esteja instalada e com acesso, para isso rode <code>which convert</code> no terminal, copie o resultado (você obterá algo como <code>/usr/bin/convert</code>, desconsidere a parte do <code>convert</code>) e adicione a seguinte linha no arquivo de configuração de ambiente:</p>

{% highlight ruby %}
Paperclip.options[:command_path] = "/usr/bin/"
{% endhighlight %}

<p>No caso do ambiente de desenvolvimento, adicionamos ela no arquivo <code>config/environments/development.rb</code>.</p>

<h2 id="using-paperclip">Usando a gem Paperclip</h2>

<p>Já temos a gem instalada, agora vamos abrir o model de carros (<code>app/models/car.rb</code>) e dizer que iremos fazer upload de arquivos no campo <code>image</code> através da linha abaixo:</p>

{% highlight ruby %}
has_attached_file :image, :styles => { :medium => "300x300>", :thumb => "120x90#" }
{% endhighlight %}

<p>Observer a chave <code>styles</code>, ela serve para definir os tamanhos de miniaturas que desejamos criar, nesse caso estou criando duas, uma com tamanho de 300x300 (medium) e outra com tamanho de 120x90 (thumb). O <code>#</code> na frente diz para cortar a imagem centralizada, mantendo assim a dimensão solicitada e <code>&gt;</code> diz que a imagem só deve ser redimensionada se ela for maior do que a medida. Veja mais <a href="https://github.com/thoughtbot/paperclip/wiki/Thumbnail-Generation" target="_blank">aqui</a>.</p>

<p>Precisamos alterar o campo de imagem no formulário que está como input text para input file, abra o partial do formulário (<code>app/views/cars/_form.html.erb</code>) e deixe como abaixo.</p>

{% highlight erb %}
<div class="field">
<%= f.label :image %><br />
<%= f.file_field :image %>
</div>
{% endhighlight %}

<p>Não podemos esquecer de ativar o <code>multipart/form-data</code> no formulário, para isso adicione <code>:html => { :multipart => true }</code> na tag de criação do form, veja:</p>

{% highlight erb %}
<%= form_for(@car, :html => { :multipart => true }) do |f| %>
{% endhighlight %}

<p>Também temos que alterar o nome do campo no banco de dados de <code>image</code> para <code>image_file_name</code> pois esse é o padrão do Paperclip para armazenar o nome/caminho da imagem.</p>

<p>Faça um teste e veja que o upload já está funcionando..</p>

<a href="{{ site.baseurl }}/assets/listagem-de-registros-com-imagem.jpg"><img class="alignnone size-full wp-image-625" title="listagem-de-registros-com-imagem" src="{{ site.baseurl }}/assets/listagem-de-registros-com-imagem.jpg" alt="listagem-de-registros-com-imagem"/></a>

<p>Só que algo está errado ai, não queremos exibir o caminho da imagem, e sim ela, para isso abra o arquivo de listagem de carros (<code>app/views/cars/index.html.erb</code>) e substitua a linha:</p>

{% highlight erb %}
<td><%= car.image %></td>
{% endhighlight %}

<p>por</p>

{% highlight erb %}
<td><%= image_tag(car.image.url(:thumb)) %></td>
{% endhighlight %}

<p>Agora estamos chamando o helper <code>image_tag</code> passando como parâmetro a url da imagem pequena (<code>thumb</code>).</p>

<div class="note">Para exibir a de tamanho médio usariamos <code>:medium</code> ou :<code>original</code> para exibir a imagem no tamanho original.</div>

<a href="{{ site.baseurl }}/assets/listagem-de-registros-com-imagem-exibindo-miniaturas.jpg"><img class="alignnone size-full wp-image-626" title="listagem-de-registros-com-imagem-exibindo-miniaturas" src="{{ site.baseurl }}/assets/listagem-de-registros-com-imagem-exibindo-miniaturas.jpg" alt="listagem-de-registros-com-imagem-exibindo-miniaturas"/></a>

<h2 id="setting-upload-path">Personalizando caminho de upload</h2>

<p>Se você quer escolher onde as imagens serão salvas é possível através das chaves <code>path</code> e <code>url</code>, veja:</p>

{% highlight ruby %}
has_attached_file :image, :styles => { :medium => "300x300>", :thumb => "120x90#" },
                  :path => ':rails_root/public/images/cars/:id-:basename-:style.:extension',
                  :url => '/images/cars/:id-:basename-:style.:extension'
{% endhighlight %}

<p>Aqui digo para salvar as imagens de carros na pasta <code>public/images/cars</code> e defino a url para o mesmo caminho.</p>

<h2 id="adding-validations">Adicionando validações</h2>

<p>Com certeza não podemos deixar de fora as validações, vamos ver algumas..</p>

<h3 id="required-presence">Presença obrigatória</h3>

<p>Adicione a chamada para o método <code>validates_attachment</code> passando o campo a ser validado e definindo a presença obrigatória.</p>

{% highlight ruby %}
validates_attachment :image,
                     :presence => true
{% endhighlight %}

<h3 id="file-type">Tipo de arquivo (content type)</h3>

<p>Usando um array de content type:</p>

{% highlight ruby %}
validates_attachment :image,
                     :content_type => { :content_type => ['image/jpg', 'image/png'] }
{% endhighlight %}

<p>Ou por expressão regular, permitindo qualquer tipo de imagem:</p>

{% highlight ruby %}
validates_attachment :image,
                     :presence => true,
                     :content_type => { :content_type => /image/ }
{% endhighlight %}

<p>Para fazer essa validação precisamos adicionar <code>attr_accessor :image_content_type</code> em nosso model para que o atributo consiga ser lido e escrito (get e set).</p>

<h3 id="file-size">Tamanho de arquivo (file size)</h3>

{% highlight ruby %}
validates_attachment :image,
                     :presence => true,
                     :size => { :in => 0..10.kilobytes }
{% endhighlight %}

<p>ou</p>

{% highlight ruby %}
validates_attachment :image,
                     :presence => true,
                     :size => { :in => 0..3.megabytes }
{% endhighlight %}

<p>Assim como o de cima, precisamos adicionar <code>attr_accessor :image_file_size</code> em nosso model.</p>

<h3 id="image-dimensions">Dimensões de imagens</h3>

<p>Uma validação que sem dúvida é muito importante também é a de dimensões de imagem, com ela podemos definir um tamanho mínimo da figura a ser feito upload.</p>

{% highlight ruby %}
validate :file_dimensions, :unless => 'errors.any?'

def file_dimensions
  if image.size
    dimensions = Paperclip::Geometry.from_file(image.queued_for_write[:original].path)
    if dimensions.width < 120 || dimensions.height < 90
      errors.add(:image,'deve ter no minimo 120px de largura por 90px de altura')
    end
   end
end
{% endhighlight %}

<p>Bem simples né, criamos um método que verifica se tem imagem pra subir, pega as dimensões da imagem original e faz a verificação. Substitua <code>120</code> e <code>90</code> pela largura e altura mínima que você deseja respectivamente.</p>

<p>Por hoje é só pessoal, o que vocês acharam?</p>

<p>Abraços.</p>
