---
layout: post
status: publish
published: true
title: '"Debugando" Aplica&ccedil;&otilde;es Rails com Console do Firebug'
author:
  display_name: Glauco Custódio
date: '2012-11-19 19:11:56 -0200'
date_gmt: '2012-11-19 19:11:56 -0200'
categories:
- Ruby
tags:
- ruby on rails
- firebug
comments: []
---
<p>Ae galera, tudo bom? Estou aqui hoje para compartilhar algo que aprendi essa semana, é uma dica simples mas que pode ajudar na hora de debugar aplicações Ruby on Rails 3.</p>

<p>Todo desenvolvedor provavelmente conhece o Firebug né? Se você não conhece está perdendo tempo, não deixe de <a href="https://getfirebug.com/" rel="external no-follow" target="_blank">testar</a>. Ele é um complemento (extensão) para os principais navegadores (Firefox e Chrome) que poupa um tempo bacana no desenvolvimento de interfaces.</p>

<p>Ele tem uma aba chamada console onde podemos exibir informações via Javascript, mas a partir de agora também podemos exibir informações diretamente do servidor.</p>

<h2>Instalando a Biblioteca</h2>

<p>Precisamos executar alguns passos rápidos para termos acesso a essa funcionalidade, sem muita delongas vamos começar</p>

1- Crie um arquivo chamado <code>firebug_logger.rb</code> na pasta <code>lib</code> dentro de sua aplicação e cole o código desse <a href="https://gist.github.com/jerodsanto/252575" target="_blank" rel="external nofollow">gist</a> (você pode criar um sub diretório dentro da <code>lib</code> se precisar).

2- Carregue a classe acima no arquivo <code>config/boot.rb</code> através da linha:

{% highlight ruby %}
require File.expand_path('lib/firebug_logger')
{% endhighlight %}

3- No arquivo de ambiente de sua aplicação <code>config/environments/development.rb</code> (no caso, desenvolvimento) adicione:

{% highlight ruby %}
config.middleware.use ::Rack::FirebugLogger
{% endhighlight %}

4- Por último, crie um método no <code>app/controllers/application_controller.rb</code> para que possamos chamar o código responsável por logar informações no console do Firebug.

{% highlight ruby %}
helper_method :firebug
private
def firebug(message, type = :debug)
  request.env['firebug.logs'] ||= []
  request.env['firebug.logs'] << [type.to_sym, message.to_s]
end
{% endhighlight %}

5- Caso esteja rodando o servidor Rails, reinicie para que você possa usar essa funcionalidade, caso contrário não funcionará.

<h2>"Debugando" no console do Firebug</h2>
<p>Enviando mensagens através dos controllers:</p>

{% highlight bash %}
class HomeController < ApplicationController
  def index
    firebug('Debug')
    firebug('Warning', :warn)
    firebug('Error', :error)
    firebug('Info', :info)
  end
end
{% endhighlight %}

<p>E por views:</p>

{% highlight ruby %}
<% firebug('Debug') %>
<% firebug('Warning', :warn) %>
<% firebug('Error', :error) %>
<% firebug('Info', :info) %>
{% endhighlight %}

<p>Resultado:</p>

<a href="{{ site.baseurl }}/assets/debugando-aplicacoes-rails-com-console-do-firebug.png"><img class="alignnone size-full wp-image-774" title="debugando-aplicacoes-rails-com-console-do-firebug" src="{{ site.baseurl }}/assets/debugando-aplicacoes-rails-com-console-do-firebug.png" alt="debugando-aplicacoes-rails-com-console-do-firebug" /></a>

<p>Essa foi a dica de hoje. O que acharam?</p>

<p>Até mais.</p>
