---
layout: post
status: publish
published: true
title: JavaScript Discreto (UJS) e AJAX no Ruby on Rails
author:
  display_name: Glauco Custódio
  login: glauco-custodio
  email: glauco.custodio@gmail.com
  url: http://glaucocustodio.com
author_login: glauco-custodio
author_email: glauco.custodio@gmail.com
author_url: http://glaucocustodio.com
excerpt: "E ai pessoal, hoje estou aqui para ensinar como utilizar Javascript discreto
  (unobtrusive Javascript - UJS) no Ruby on Rails para implementa&ccedil;&atilde;o
  <strong>AJAX<&#47;strong>.\r\n\r\nVamos supor que temos um scaffold simples gerado
  pelo Rails e desejamos implantar requisi&ccedil;&otilde;es ass&iacute;ncronas via
  Javascript.\r\n\r\n"
wordpress_id: 1212
wordpress_url: http://blog.glaucocustodio.com/?p=1212
date: '2013-02-23 15:13:00 -0300'
date_gmt: '2013-02-23 15:13:00 -0300'
categories:
- Ruby
tags:
- ruby on rails
- ajax
comments: []
---
<p>E ai pessoal, hoje estou aqui para ensinar como utilizar JavaScript discreto (unobtrusive JavaScript - UJS) no Ruby on Rails para implementação AJAX.</p>

<p>Vamos supor que temos um scaffold simples gerado pelo Rails e desejamos implantar requisições assíncronas via JavaScript.</p>

<a href="{{ site.baseurl }}/assets/scaffold-simples-rails.png"><img class="alignnone size-full wp-image-1213" title="scaffold-simples-rails" src="{{ site.baseurl }}/assets/scaffold-simples-rails.png" alt="scaffold-simples-rails"/></a>

<p>Poderiamos criar um arquivo JavaScript e com a ajuda de algum framework como jQuery fazer uso das funções apropriadas para isso..</p>

<p>Mas nosso objetivo aqui é utilizar o JavaScript discreto que vem por padrão com o Rails desde a versão 3.</p>

<h2>JavaScript Discreto</h2>

<p>As versões antigas do Rails, utilizavam-se de um JavaScript inline (junto com HTML) e dependente de recursos do framework Prototype para implementação de funcionalidades como submissão de formulários de maneira assíncrona. Isso deixava o código mais sujo e não muito manutenível.</p>

<p>Para resolver esse problema passou-se a utilizar uma biblioteca chamada Unobtrusive JavaScript que permite a geração de código mais limpo e bem organizado utilizando recursos de HTML 5. Existem versões para vários frameworks JavaScripts (como <a href="https://github.com/rails/jquery-ujs" rel="external nofollow" target="_blank">jQuery</a>, <a rel="external nofollow" href="https://github.com/rails/prototype-ujs" target="_blank">Prototype</a> e <a rel="external nofollow" href="https://github.com/kevinvaldek/mootools-ujs" target="_blank">MooTools</a>), assim o desenvolvedor não precisa ficar preso há um framework como era antes.</p>

<h2>Utilizando UJS para AJAX</h2>

<p>Agora vamos ver como utilizar a biblioteca que citamos acima para AJAX.</p>

<p>Primeiro de tudo, precisamos garantir duas coisas:</p>
<ul>
  <li>O layout da aplicação está em HTML 5: seu HTML deve começar com <code>&lt;!DOCTYPE html&gt;</code> .</li>
  <li>Temos incluso o jQuery e o UJS para jQuery no layout: se você tiver <code>&lt;%= javascript_include_tag "application" %&gt;</code> no layout já estará sendo incluso pelo Rails.</li>
</ul>
<p>Já temos o que precisamos para começar, que tal agora passarmos o método de exclusão do scaffold para AJAX?</p>

<p>Na listagem de registros temos o seguinte código gerado pelo Rails:</p>

{% highlight ruby %}
<% @posts.each do |post| %>
  <tr>
    <td><%= post.name %></td>
    <td><%= post.content %></td>
    <td><%= post.date %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
{% endhighlight %}

<p>Irei dizer ao Rails para que o método de exclusão seja chamado de forma assíncrona, apenas adicionando o trecho <code>remote: true</code>, veja:</p>

{% highlight ruby linenos %}
<% @posts.each do |post| %>
  <tr class="<%= post.id %>">
    <td><%= post.name %></td>
    <td><%= post.content %></td>
    <td><%= post.date %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, remote: true, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
{% endhighlight %}

<p><div class="note">Observe na linha 2 que adiciono uma classe para a <code>tr</code> de cada registro com o id, isso será usado para remover a linha com JavaScript depois que o registro for excluído.</div></p>

<p>Olhando o código fonte, veremos que o Rails adiciona um atributo <code>data-remote</code> com o valor <code>true</code> em nosso link, isso é o que a biblioteca UJS precisa saber para fazer a requisição via AJAX.</p>

<a href="{{ site.baseurl }}/assets/usando-ujs-rails.png"><img src="{{ site.baseurl }}/assets/usando-ujs-rails.png" alt="usando-ujs-rails" title="usando-ujs-rails" class="alignnone size-full wp-image-1254" /></a>

<p>Se você for na listagem de registros e clicar no link <code>Destroy</code> verá que a requisição já está sendo de forma assíncrona, só que como o Rails ainda não sabe como manipular ela, obtemos um erro de rota.</p>

<a href="{{ site.baseurl }}/assets/erro-de-rota-rails.png"><img src="{{ site.baseurl }}/assets/erro-de-rota-rails.png" alt="erro-de-rota-rails" title="erro-de-rota-rails" class="alignnone size-full wp-image-1230" /></a>

<p>Para resolver isso, basta dizermos ao Rails como responder as chamadas feitas via JavaScript adicionando <code>format.js</code> no <code>respond_to</code> da action que está sendo requisitada. Com isso nossa action <code>destroy</code> ficará assim:</p>

{% highlight ruby linenos %}
def destroy
  @post = Post.find(params[:id])
  @post.destroy

  respond_to do |format|
    format.html { redirect_to posts_url }
    format.json { head :no_content }
    format.js
  end
end
{% endhighlight %}

<p>Esse trecho adicionado fará com que o Rails procure por um arquivo com o nome da action e com a extensão <code>.js.erb</code> na pasta de views, nesse caso, ele procurará por <code>destroy.js.erb</code>. Dentro desse arquivo podemos colocar código JavaScript e Ruby que serão executados depois da chamada assíncrona ter sido executada.</p>

<p>Em meu arquivo <code>destroy.js.erb</code> eu adicionei o código abaixo responsável por excluir a linha do registro excluído:</p>

{% highlight ruby %}
$('tr.<%= @post.id %>').remove();
{% endhighlight %}

<h2>Callbacks AJAX via Eventos Customizados</h2>

<p>Imagina que desejamos aplicar exclusão via AJAX para todos CRUDs de nossa aplicação, existe uma maneira mais fácil de executarmos algo no callback da requisição assíncrona invés de ter que criar um arquivo <code>.js.erb</code> para cada action.</p>

<p>As chamadas AJAX do UJS nos fornece os seguintes callbacks para as requisições assíncronas:</p>
<ul>
<li><strong>ajax:before</strong>: antes da chamada AJAX</li>
<li><strong>ajax:loading</strong>: antes da chamada AJAX, mas depois da criação do objeto <code>XmlHttpRequest</code></li>
<li><strong>ajax:success</strong>: chamada AJAX executada com sucesso</li>
<li><strong>ajax:failure</strong>: chamada AJAX que falhou</li>
<li><strong>ajax:complete</strong>: chamada AJAX terminada (executada depois do <code>ajax:success</code> e <code>ajax:failure</code>)</li>
<li><strong>ajax:after</strong>: depois da chamada AJAX ter sido feita (antes do retorno)</li>
</ul>

<p>Na action podemos definir que não queremos nenhuma renderização quando a requisição vier por JavaScript:</p>

{% highlight ruby linenos %}
def destroy
  @post = Post.find(params[:id])
  @post.destroy

  respond_to do |format|
    format.html { redirect_to posts_url }
    format.json { head :no_content }
    format.js { render nothing: true}
  end
end
{% endhighlight %}

<p>Então criamos um bloco JavaScript no <code>application.js</code> responsável por tratar todos callbacks de chamadas AJAX com sucesso por exemplo:</p>

{% highlight javascript %}
$(function(){
  $('.delete-link').on('ajax:success', function() {
      $(this).parents('tr:first').remove();
  });
});
{% endhighlight %}

<p>Nesse exemplo, para cada link de exclusão que for via AJAX será necessário adicionar a classe <code>delete-link</code> para passar pelo callback que removerá a linha do registro removido.</p>

<p>Essa foi a dica de hoje. O que vocês acharam?</p>

<p>Até mais.</p>
