---
layout: post
status: publish
published: true
title: Init Ng-Model from Form Fields Attributes
author:
  display_name: Glauco Custódio
date: '2014-10-20 20:02:05 -0200'
date_gmt: '2014-10-20 20:02:05 -0200'
categories:
- JavaScript
tags:
- angularjs
comments:
- id: 22518
  author: Denis
  author_email: denismoureu@gmail.com
  author_url: ''
  date: '2015-02-20 10:43:22 -0200'
  date_gmt: '2015-02-20 10:43:22 -0200'
  content: Just one word. Thanks
- id: 22607
  author: kanabi
  author_email: kanabi@gazeta.pl
  author_url: ''
  date: '2015-02-22 23:32:37 -0300'
  date_gmt: '2015-02-22 23:32:37 -0300'
  content: "Hi, thank you for a useful directive. I'm trying to implement it in my
    angular form, since AngularJS doesn't parse hidden input values without ng-init
    or other solutions. Still I can't get it to work:\r\n\r\n\r\n\r\nThe value filed
    returns the {{post.title}} expression correctly, but submitted form shows only
    {{post.title}} again. After hours spent on looking for the right solution I will
    really appreciate any suggestions..."
- id: 34718
  author: Murali
  author_email: mandadimuralidharreddy@gmail.com
  author_url: http://www.altitudeclasses.org
  date: '2015-06-28 21:29:34 -0300'
  date_gmt: '2015-06-28 21:29:34 -0300'
  content: "Hi.\r\nIn your codepen example.I made some change as my requirment when
    $scope array present at that time also input filed having deafault value.\r\nI
    want set input number filed value to 0 if input value not present in database.If
    it is there in database display database value not defalut value.\r\nsee this
    image of edited code pen\r\nhttps:&#47;&#47;drive.google.com&#47;file&#47;d&#47;0B3AxZcIXzIRSNmlLWng5NDU1bmM&#47;view?usp=sharing"
- id: 37226
  author: yjhf
  author_email: fgh@gai.com
  author_url: http://fgh
  date: '2015-07-28 13:22:36 -0300'
  date_gmt: '2015-07-28 13:22:36 -0300'
  content: fgh
- id: 37354
  author: Shams
  author_email: thalut@hotmail.com
  author_url: http://web-scents.blogspot.com
  date: '2015-07-30 06:07:21 -0300'
  date_gmt: '2015-07-30 06:07:21 -0300'
  content: is this valid to the Angular's team?
- id: 37364
  author: Xesenix
  author_email: pkapalla@rednet.pl
  author_url: http://xesenix.pl
  date: '2015-07-30 11:50:05 -0300'
  date_gmt: '2015-07-30 11:50:05 -0300'
  content: "Why not just start your directive on all inputs:\r\n.directive('input',
    function() {\r\n...\r\nreturn {\r\nrestrict: 'E',\r\n...\r\n}\r\nno need for adding
    special attribute?"
- id: 41148
  author: Sajit
  author_email: sajit.kunnumkal@gmail.com
  author_url: ''
  date: '2015-09-15 16:21:42 -0300'
  date_gmt: '2015-09-15 16:21:42 -0300'
  content: Thank you soo much.
---
<p>I have been using AngularJS's magic in some <strong>non</strong> single page applications to improve user experience and provide an instant feedback.</p>

<p>A few days ago, not for the first time, I faced the issue to need starting form fields with server side provided data while making use of awesome AngularJS feautures.</p>
<h2>Hands-on</h2>
<p>Suppose we have an HTML like that:</p>
<div class="codepen" data-height="268" data-theme-id="0" data-slug-hash="gBoEa" data-default-tab="html" data-user="glaucocustodio">
<pre><code>&lt;!DOCTYPE html&gt; &lt;html lang="en" ng-app=""&gt; &lt;head&gt; &lt;script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular.min.js"&gt;&lt;/script&gt; &lt;/head&gt; &lt;body&gt; &lt;input type="text" value="John" ng-model="name"&gt; &lt;/body&gt; &lt;/html&gt;</code></pre>
See the Pen <a href="http://codepen.io/glaucocustodio/pen/gBoEa/">gBoEa</a> by Glauco Custódio (<a href="http://codepen.io/glaucocustodio">@glaucocustodio</a>) on <a href="http://codepen.io">CodePen</a>.

</div>
<script type="text/javascript" src="//codepen.io/assets/embed/ei.js"></script>
<p>You can see that the value "John" is not being filled in input. By default, AngularJS does not initialize <code>ng-model</code> based on form fields attributes like <code>value</code>, <code>checked</code> and <code>selected</code>. Looking for some way to pull it off, I found three manners and I wanna share them with you. </p>

<h3>Initialize Variable in Controller</h3>

<p>The "angular" way I read around is to set the value inside a controller: </p>

<div class="codepen" data-height="268" data-theme-id="0" data-slug-hash="Beldq" data-default-tab="js" data-user="glaucocustodio">
<pre><code>var app = angular.module('myApp', []); app.controller('MyCtrl', function ($scope) { $scope.name = 'John'; });</code></pre>

See the Pen <a href="http://codepen.io/glaucocustodio/pen/Beldq/">Beldq</a> by Glauco Custódio (<a href="http://codepen.io/glaucocustodio">@glaucocustodio</a>) on <a href="http://codepen.io">CodePen</a>.
</div>

<p>But when our entire page is coming from server, it does not seem a good approach, we would need mix the server language with JavaScript or mess up with another not cool thing.</p>

<h3>Use Ng-Init Directive</h3>

<p>The second one is about setting variable value inside <code>ng-init</code>:</p>

<div class="codepen" data-height="268" data-theme-id="0" data-slug-hash="pIkdw" data-default-tab="html" data-user="glaucocustodio">
<pre><code>&lt;!DOCTYPE html&gt; &lt;html lang="en" ng-app=""&gt; &lt;head&gt; &lt;script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular.min.js"&gt;&lt;/script&gt; &lt;/head&gt; &lt;body&gt; &lt;input type="text" ng-model="name" ng-init="name='John'"&gt; &lt;/body&gt; &lt;/html&gt;</code></pre>

See the Pen <a href="http://codepen.io/glaucocustodio/pen/pIkdw/">pIkdw</a> by Glauco Custódio (<a href="http://codepen.io/glaucocustodio">@glaucocustodio</a>) on <a href="http://codepen.io">CodePen</a>.
</div>

<script type="text/javascript" src="//codepen.io/assets/embed/ei.js"></script>
<p>It works. But I personally guess we can improve it.</p>
<h3>Use a Custom Directive</h3>
<p>Finally, we can use a <a href="https://github.com/glaucocustodio/angular-initial-value" target="_blank">custom directive</a> to load values based on form fields attributes:</p>
<div class="codepen" data-height="268" data-theme-id="0" data-slug-hash="nhcmz" data-default-tab="js" data-user="glaucocustodio">
<pre><code>angular.module('initFromForm', []) .directive('ngInitial', function() { return { restrict: 'A', controller: [ '$scope', '$element', '$attrs', '$parse', function($scope, $element, $attrs, $parse) { var getter, setter, val; val = $attrs.ngInitial || ($element.attr("checked") !== undefined ? true : '') || $attrs.value || $element.val() getter = $parse($attrs.ngModel); setter = getter.assign; setter($scope, val); } ] }; }); var app = angular.module('myApp', ['initFromForm']);</code></pre>
See the Pen <a href="http://codepen.io/glaucocustodio/pen/nhcmz/">nhcmz</a> by Glauco Custódio (<a href="http://codepen.io/glaucocustodio">@glaucocustodio</a>) on <a href="http://codepen.io">CodePen</a>.

</div>

<p>This directive is a improved version I made from <a href="http://stackoverflow.com/a/17823590" rel="external nofollow" target="_blank">this one</a> to support <code>textarea</code>, <code>checkbox</code> and <code>radio</code> as well.</p>

<p>I really appreciated this approach, we just need add <code>initial-value</code> attribute to form field and voilà.</p>

<p>Do you know another way to do the same? Share with us in the comments.</p>

<p>See you.</p>
