---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  <!-- Taken from simplesharebuttons.com -->
  <div id="html-share-buttons">
    <p>
      <strong>
        Share:
      </strong>{{ site.baseurl }}

      <!-- Facebook -->
      <a href="http://www.facebook.com/sharer.php?u={{ site.url }}{{page.url}}" target="_blank">
        <i class="svg-icon facebook"></i>
      </a>
      <!-- Twitter -->
      <a href="http://twitter.com/share?url={{ site.url }}{{page.url}}&text={{page.title}}" target="_blank">
        <i class="svg-icon twitter"></i>
      </a>
      <!-- Linkedin -->
      <a href="https://www.linkedin.com/sharing/share-offsite/?mini=true&url={{ site.url }}{{page.url}}" target="_blank">
        <i class="svg-icon linkedin"></i>
      </a>
    </p>
    
    <!-- Reddit -->
    <!-- <a href="http://reddit.com/submit?url={{ site.url }}{{page.url}}&title={{page.title}}" target="_blank">
      <i class="svg-icon reddit"></i>
    </a> -->
    <!-- Email -->
    <!-- <a href="mailto:?Subject={{page.title}}&Body={{page.url}}">
      <i class="svg-icon email"></i>
    </a> -->
  </div>

  {% include disqus.html %}
</article>
